*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Helvetica";
    src: url(/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.woff2) format("woff2"),
    url(/HelveticaNeueCyr-Heavy/HelveticaNeueCyr-Heavy.woff) format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
.dropdown{
    display: inline-block;
}
.logo{
    display: flex;
    background-color: #000000;
    justify-content: center;
    padding: 10px 0;
}
.logoo{
    width: 225px;
}
body{
    background-color: black;
    color: white;
}
.navc{
    border-bottom: #6c757d solid 1px;
    border-top: #6c757d solid 1px;
    font-family: 'Azeret Mono', monospace; 
}
nav{
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header a {
    color:rgba(255, 255, 255, 0.75);
    text-decoration: none;
}
.all{
    color: white;
    margin: 0;
    border-bottom: solid 2px rgb(144, 24, 24);
}
.hlink{
    color: #1845a7;
    font-weight: 600;
}
.olinks:hover, .all:hover, .pp:hover, .hlink:hover{
    color: white;
}
.btn-secondary{
    background-color: black;
    border-color: black;
}
.content_row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}
.stpartftr{
    color: #666;
}
.pp{
    text-decoration: none;
    color: #666;
    text-transform: uppercase;
    margin-left: 11px;
}

.dpartftr span{
    display: flex;
    flex-direction: column;
}
.dpartftr span a{
    margin: 5px 54px;
}
footer{
    padding-top: 25px;
}
.esclist{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #000000;
    font-family: 'ABeeZee', sans-serif;
}
.container.cards{
    margin-top: 20px;
}
.card{
    background-color: transparent;
    border: solid 2px #666;
    border-radius: 5px;
    margin-bottom: 20px;
    animation-name: opacity;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    transition: 0.5s linear;
}
@keyframes opacity {
    from{
        opacity: 0;
        transform: scale(0.8);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}
.list-group-item{
    background-color: #000000;
    color: white;
    font-size: 21px;
}
.price{
    color: #08c;
    font-size: 21px;
}
.card>.list-group:last-child{
    border: 2px solid transparent;
    border-image: linear-gradient(to left top,rgb(95, 15, 15) 25%,  transparent 35%, transparent 65%, rgb(95, 15, 15) 75%);
    border-image-slice: 1;
    margin: 10px;
}
.sn{
    transition: 0.5s;
}
.sn:hover{
    opacity: 0.35;
}
.card:hover{
    border-color: whitesmoke;
}
@media(max-width:768px){
    nav{
        flex-wrap: wrap;
    }
    .olinks, .hlink, .all{
        margin-right: 20px;
    }
}
@media(max-width:563px){
    .content_row{
        flex-direction: column;
    }
    .logoo{
        margin: 15px 0;
    }
    .dpartftr span{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
}

